
.deals{
    display:flex;
    gap:2rem;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.deals>div>img{
    height:23rem
}
.deals>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.bigdeals{
    display:flex;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bigdeals>div>img{
    height:32rem
}
.bigdeals>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.categories{
    display:flex;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.categories>div>img{
    height:15rem;
    width:13.5rem;
}
.categories>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.topbrands{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
}
.topbrands>div>img{
    height:15rem;
}
.topbrands>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.lux{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lux>div>img{
    height:16.25rem
}
.lux>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wtrend{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.wtrend>div>img{
    height:20rem
}
.wtrend>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.indtrend{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.indtrend>div>img{
    height:20rem
}
.indtrend>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sporttrend{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sporttrend>div>img{
    height:20rem
}
.sporttrend>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fweartrend{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.fweartrend>div>img{
    height:20rem
}
.fweartrend>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.accesories{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.accesories>div>img{
    height:20rem
}
.accesories>div>img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

img:hover{
    cursor:pointer;
    
}
