.mencontainer{
    /* border:2px solid red; */
    height:auto;
}
.filter1{
    height:4.5%;
    border:2px solid rgb(15, 15, 15);
    display:flex;
    justify-content: space-between;
    align-items:baseline
}
.filter2{
    display:flex;
    height:auto;
    
}
.filter2-1{
    border:2px solid rgb(10, 10, 10);
    width:10%;
}
.products{
    border:2px solid red;
    width:90%
}
.filters{
    display:flex;
    align-items: center;
    justify-items: center;
}
.filters>input{
height:0.8rem;
margin-left:-3.5rem;
}
.filters>label{
    margin-left: -3.5rem;
    font-size:1rem
}
